<header>
  <div class="header__logo">
    <img src="../assets/yandex-home-logo@1x.png" alt="Yandex Home logo">
  </div>
  <nav class="header__menu">
    <ul>
      <li class="header__menu-item header__menu-item_active">
        <a href="#" title="Сводка">Сводка</a>
      </li>
      <li class="header__menu-item">
        <a href="#" title="Устройства">Устройства</a>
      </li>
      <li class="header__menu-item">
        <a href="#" title="Сценарии">Сценарии</a>
      </li>
    </ul>
  </nav>
  <div class="header__mobile-menu-button">
    <img src="../assets/icons/menu.svg" alt="moble menu button">
  </div>
</header>
