.main-area {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 630px;
  height: 331px;
  background-image: url('../../assets/bg@1x.png');
  background-size: contain;
}

.main-area__summary {
  padding-left: 26px;
}

.main-area__salutation {
  margin-top: 30px;
  font-size: 27px;
  color: var(--dark-grey-color);
  font-family: var(--font-arial-bold);
}

.main-area__status {
  font-size: var(--font-size-small);
  margin-top: 8px;
}

.main-area__climate-summary {
  display: flex;
  align-items: center;
  margin-top: 28px;
}

.main-area__indoors-climate {
  margin-right: 20px;
}

.main-area__indoors-climate-label, .main-area__outdoors-climate-label {
  color: var(--light-grey-color);
  font-size: var(--font-size-x-small);
}

.main-area__indoors-climate-temperature, .main-area__outdoors-climate-temperature {
  font-size: 36px;
  color: var(--dark-grey-color);
  font-family: var(--font-arial-bold);
}

.main-area__outdoors-climate-data {
  display: flex;
  align-items: center;
}

.main-area__outdoors-climate-weather-icon {
  margin-left: 8px;
}

.main-area__widgets {
  position: relative;
  width: 220px;
  height: 331px;
  overflow: hidden;
}

.main-area__widgets-inner-wrapper {
  position: absolute;
  left: 0px;
  height: 100%;
  padding-right: 40px;
  overflow-y: auto;
}

.main-area__widgets-inner-wrapper .device-widget {
  margin-bottom: 15px;
}

.main-area__widgets-inner-wrapper .device-widget:first-of-type {
  margin-top: 20px;
}

.main-area__widgets-inner-wrapper .device-widget:last-of-type {
  margin-bottom: 20px;
}

.main-area__widgets-scroll-up, .main-area__widgets-scroll-down {
  position: absolute;
  height: 41px;
  width: 200px;
  background: #F7F7F7;
  cursor: pointer;
}

.main-area__widgets-scroll-up {
  top: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.main-area__widgets-scroll-down {
  bottom: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.main-area__widgets-scroll-up:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  left: calc(50% - 8px);
  top: calc(50% - 4px);
  background-image: url('../../assets/icons/arrow-double.svg');
  transform: rotate(180deg);
}

.main-area__widgets-scroll-down:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  left: calc(50% - 8px);
  top: calc(50% - 4px);
  background-image: url('../../assets/icons/arrow-double.svg');
}

.main-area__widgets-scroll-up_hidden, .main-area__widgets-scroll-down_hidden {
  display: none;
}

/* Retina-specific */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .main-area {
    background-image: url('../../assets/bg@2x.png');
  }
}
