.selected-devices__header {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.selected-devices__filters {
  display: flex;
}

.selected-devices__title {
  font-family: var(--font-arial-bold);
  font-size: var(--font-size-large);
}

.selected-devices__widgets {
  display: flex;
}

.selected-devices__widgets .device-widget:first-child {
  margin-left: 40px;
}

.selected-devices__widgets .device-widget:not(:last-child) {
  margin-right: 15px;
}
