.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.popup_hidden {
  display: none;
}

.popup__background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(51,51,51,0.5);
}

.popup__body {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 600px) {

  .popup__body {
    width: 100%;
  }

}
