.layout-container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
}

.layout-container_with-popup-open {
  filter: blur(3px);
}

.layout-container_with-sidebar-open {
  transform: translateX(-70%);
  pointer-events: none;
}
