<footer>
  <nav class="footer__menu">
    <ul>
      <li class="footer__menu-item">
        <a href="#" title="Помощь">Помощь</a>
      </li>
      <li class="footer__menu-item">
        <a href="#" title="Обратная связь">Обратная связь</a>
      </li>
      <li class="footer__menu-item">
        <a href="#" title="Разработчикам">Разработчикам</a>
      </li>
      <li class="footer__menu-item">
        <a href="#" title="Условия использования">Условия использования</a>
      </li>
    </ul>
  </nav>
  <div class="footer__copyright">
    © 2001–2017  ООО «Яндекс»
  </div>
</footer>
