:root {
  --dark-grey-color: #333333;
  --light-grey-color: #858585;
  --font-size-large: 18px;
  --font-size-normal: 16px;
  --font-size-small: 14px;
  --font-size-x-small: 12px;
}

body {
 font-family: ArialMT, Arial, sans-serif;
}

@font-face {
    font-family: ArialMT;
    src: url('assets/fonts/arialmt-opentype.otf');
}

@font-face {
    font-family: Arial-BoldMT;
    src: url('assets/fonts/arial-boldmt-opentype.otf');
}

ul {
  padding: 0;
  margin: 0;
}
