header {
  display: flex;
  align-items: center;
  padding: 75px 0;
  border-bottom: 1px solid #F0F0F0;
}

.header__logo {
  width: 108px;
  height: 27px;
  margin-right: 52px;
}

.header__logo img {
  max-width: 100%;
  max-height: 100%;
}

.header__menu-item {
  display: inline-block;
  list-style-type: none;
}

.header__menu-item:not(:last-of-type) {
  margin-right: 28px;
}

.header__menu-item a {
  color: var(--dark-grey-color);
  font-family: Arial-BoldMT, Arial, sans-serif;
  list-style-type: none;
}

.header__menu-item:not(.header__menu-item_active) a {
  opacity: 0.6;
}
